# secret stuff that we don't want commited to git
.secrets

# tmp directory
tmp/*

# Python stuff
*.pyc
__pycache__/*

# py.test stuff
.cache/*

# Jupyter notebook checkpounts 
.ipynb_checkpoints/*

# Vim swap files
*.sw[op]
